# =========================
# Python
# =========================
backend/.venv/
backend/__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Uploads & Temp Files
# =========================
# Uploads
backend/uploads/**
!backend/uploads/.gitkeep
!backend/uploads/incoming/
!backend/uploads/incoming/.gitkeep

# Temporary extraction
backend/temp/**
!backend/temp/.gitkeep

# =========================
# Logs
# =========================
*.log

# =========================
# Node
# =========================
frontend/node_modules/
frontend/.next/
frontend/out/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
Thumbs.db
.DS_Store

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Misc
# =========================
*.zip
*.tar
*.gz